<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">PC Gaming</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab5</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src ="assets/imagenes/PcGaming_Logo.jpg" class="pc_Gaming"></ion-img>

  <ion-card>
    <ion-card-header>
      <ion-card-title>ZX Spectrum</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        El Sinclair ZX Spectrum es un ordenador de 8 bits basado en el microprocesador Zilog Z80A, 
        fabricado por la compañía británica Sinclair Research y lanzado al mercado el 23 de abril de 1982.<br /><br /> 

        En Europa, el Sinclair ZX Spectrum fue uno de los microordenadores domésticos más populares de los años 
        1980. Aún hoy perduran miles de aficionados del Spectrum que siguen jugando a sus juegos (con emuladores 
        que cargan sus ficheros volcados de cintas). Además hay un mercado de coleccionismo tanto de cintas de juegos 
        originales como de los propios Spectrum.
      </p>
      <ion-img src="assets/imagenes/Spectrum2.png" class="pc_Gaming"></ion-img>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Amstrad CPC</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Amstrad CPC (acrónimo del inglés Colour Personal Computer) fue una serie de ordenadores personales 
        de 8 bits producidos por Amstrad durante la década de 1980 y a principios de la década de 1990. Las 
        siglas CPC anunciaban un ordenador personal en color, aunque era posible comprar un CPC tanto con pantalla 
        de fósforo verde (GT65/66) como con pantalla estándar en color (CTM640/644), además de poderse adquirir 
        por separado un accesorio modulador (MP-1/MP-2) para conectarlo a un televisor convencional.<br /><br /> 

        La primera máquina, el CPC 464, se presentó oficialmente y se comercializó a gran escala a partir del 
        21 de junio de 1984. Se diseñó como competidor directo del Commodore 64 y del Sinclair ZX Spectrum. 
        La gama CPC tuvo mucho éxito. Se vendieron más de 2 millones de equipos durante la vida útil de la máquina. 
      </p>
      <ion-img src="assets/imagenes/CPC.png" class="pc_Gaming"></ion-img>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>3dfx</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        3dfx Interactive fue una compañía especializada en la manufactura de procesadores gráficos 3D y, más tarde, 
        tarjetas gráficas para uso en PC. Fue la gran dominante en la época inicial de las tarjetas aceleradoras 3D, 
        a finales de los años 1990, especialmente en los años 1997 y 1998. A finales del año 2000, desapareció del mercado; 
        su principal rival, NVIDIA, adquirió la mayoría de bienes, tecnologías, patentes y propiedad intelectual de 3dfx, 
        permaneciendo el soporte de los chips VooDoo y de los productos de 3dfx y STB en 3dfx. El 15 de octubre de 2002 
        se declara en bancarrota. En este momento se desconoce el estado legal de la parte no adquirida por NVIDIA.
      </p>
      <ion-img src="assets/imagenes/3dfx_v.png" class="pc_Gaming"></ion-img>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>GeForce 256</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        La GeForce 256 es el lanzamiento original de la línea de productos "GeForce" de Nvidia. Anunciada el 31 de 
        agosto de 1999 y lanzada el 11 de octubre de 1999, la GeForce 256 mejora a su predecesora (RIVA TNT2) aumentando 
        la cantidad de tubería de píxeles fijos, descargando los cálculos de la geometría del host a un motor de iluminación 
        y transformación de hardware (T&L) y agregar compensación de movimiento de hardware para video MPEG-2. 
        Ofreció un salto notablemente grande en el rendimiento de los juegos de PC en 3D y fue el primer acelerador 
        3D totalmente compatible con Direct3D 7.<br /><br /> 

        El chip fue fabricado por TSMC utilizando su proceso CMOS de 220 nm. Hay dos versiones de la GeForce 256 - la versión 
        SDR lanzada en octubre de 1999 y la versión DDR lanzada a mediados de diciembre de 1999 - cada uno con un tipo 
        diferente de memoria SDRAM. La versión SDR usa memoria SDR SDRAM de Samsung Electronics, mientras que la última versión 
        DDR usa memoria DDR SDRAM de Hyundai Electronics (ahora SK Hynix).
      </p>
      <ion-img src="assets/imagenes/gforce.jpg" class="pc_Gaming"></ion-img>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Procesadores de 64 bits de Intel y AMD</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        x86-64 (también conocido como x64, x86_64, AMD64 e Intel 64) es la versión de 64 bits del conjunto de instrucciones x86. 
        Soporta una cantidad mucho mayor de memoria virtual y memoria física de lo que le es posible a sus predecesores, permitiendo 
        a los programas almacenar grandes cantidades de datos en la memoria. x86-64 también provee registros de uso general de 
        64 bits y muchas otras mejoras. La especificación fue creada por AMD, y ha sido implementada por AMD, Intel, VIA y otros. 
        Es totalmente retrocompatible con el código x86 de 16 y 32 bits. Debido a que el juego de instrucciones x86 completo de 16 bits 
        y 32 bits está implementado en hardware sin ningún tipo de emulación, los programas ejecutables x86 existentes pueden correr 
        sin ningún tipo de penalización de velocidad o compatibilidad, mientras que las aplicaciones existentes que fueron 
        recodificadas para aprovechar las características del nuevo procesador, pueden alcanzar mejoras en el rendimiento.
      </p>
      <ion-img src="assets/imagenes/AMD.jpg" class="pc_Gaming"></ion-img>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>PC Gaming Actual</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        La cultura gaming, los periféricos y los equipos para jugar han evolucionado mucho desde dar sus primeros 
        pasos hasta que el pasado 2018, HP decidió lanzar HP OMEN Obelisk, su nueva gama de ordenadores de sobremesa 
        listos para que los gamers puedan sacar el máximo partido a los últimos videojuegos del mercado.<br /><br /> 

        Estos ordenadores cuentan con los componentes más potentes del mercado en la actualidad y, de hecho, fueron 
        los primeros equipos de sobremesa en incorporar la nueva gráfica NVIDIA RTX 3080.Acompañada de procesadores 
        de novena generación de Intel pudiendo optar hasta el modelo i9-9900K o los AMD Ryzen de segunda generación.
      </p>
      <ion-img src="assets/imagenes/actual.jpg" class="pc_Gaming"></ion-img>
    </ion-card-content>
  </ion-card>



































</ion-content>

