<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Nintendo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab4</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="assets/imagenes/Nintendo_Logo.jpg" class="nin_logo"></ion-img>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Color TV-Game</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Color TV-Game (カラー テレビゲーム Karā Terebi-Gēmu?) fue la primera
        consola de videojuegos doméstica de Nintendo y se comercializó
        exclusivamente en Japón. Esta consola incluía una serie de videojuegos
        almacenados en su memoria interna ya que aún no existían los cartuchos
        intercambiables.<br /><br />En total se lanzaron cinco modelos entre
        1977 y 1980: los dos primeros, Color TV-Game 6 y 15, vendieron un millón
        de unidades cada uno y los dos siguientes, Block Kuzushi y Racing 112,
        medio millón. La serie Color TV-Game tiene las cifras de ventas más
        altas de la primera generación de videoconsolas con tres millones de
        unidades vendidas. Los sistemas funcionaron con baterías C o un
        adaptador de CA. La consola duró seis años en el mercado y fue
        descontinuada en 1983.<br /><br />Gracias al éxito de la Color TV-Game
        Nintendo se dispuso a lanzar su primera consola portátil solo tres años
        después, la Game & Watch, que obtuvo un gran éxito a nivel mundial e
        impulsó a la compañía a meterse definitivamente en la industria de los
        videojuegos.
      </p>
      <ion-img src="assets/imagenes/colortvgame.jpg" class="nin_logo"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nintendo Entertainment System NES</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Nintendo Entertainment System (también conocida como Nintendo NES o
        simplemente NES), llamada en Japón como Family Computer (también llamada
        en Japón como Famicom), es una videoconsola descontinuada de 8 bits
        perteneciente a la tercera generación en la industria de los
        videojuegos, la primera consola de sobremesa de Nintendo en emplear
        cartuchos.<br /><br />Fue lanzada por Nintendo en Norteamérica, Europa y
        Australia entre 1985 y 1987. En la mayor parte del continente asiático,
        incluyendo a Japón (donde se comercializó por primera vez en 1983),
        China, Vietnam, Singapur, Laos, Camboya y Filipinas se la conoció con el
        nombre de Family Computer, abreviado comúnmente como Famicom. En Corea
        del Sur se llamó Hyundai Comboy (현대 컴보이) y fue distribuida por
        Hyundai Electronics, mientras que en regiones como Unión Soviética y el
        sur de Asia pasó a denominarse Dendy (Де́нди), una clon de la NES, y Tata
        Famicom, respectivamente.<br /><br />En 1991, la Super Nintendo
        Entertainment System (abreviada comúnmente como Super NES o SNES)
        reemplazó a la NES en el mercado. Fue descatalogada en 1995 (en Japón
        fue en 2003), y su último título fue Wario's Woods (el único videojuego
        de NES con clasificación ESRB). En el año 2013 Capcom lanzó una edición
        limitada de 150 unidades de un cartucho original de NES de color dorado,
        con el juego Ducktales.
      </p>
      <ion-img src="assets/imagenes/NES.png" class="nin_logo"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Super Nintendo Entertainment System SNES</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        La Super Nintendo Entertainment System, conocida popularmente como la
        Super Nintendo, también llamada la Super Famicom (japonés:
        スーパーファミコン, Sūpā Famikon) en Japón (abreviada SFC) y la Hyundai
        Super Comboy en Corea del Sur, también nombrada oficialmente de forma
        abreviada como la Super NES o SNES en América y como la Super Nintendo
        en Europa, es la segunda videoconsola descontinuada de sobremesa de
        Nintendo y la sucesora de Nintendo Entertainment System (NES) en América
        y Europa.<br /><br />Mantuvo una gran rivalidad en todo el mundo con la
        Sega Mega Drive (o Sega Genesis) durante la era de 16 bits. Fue
        descontinuada en el año 1999 (2003 en Japón) y años más tarde, fue
        relanzada virtualmente a través de la Consola Virtual en la Wii en 2006,
        Wii U en 2013, Nintendo 3DS (solo la versión New) en 2016 y Nintendo
        Switch en 2019 a través del servicio en línea Nintendo Switch Online.
      </p>
      <ion-img src="assets/imagenes/PAL-SNES.png" class="nin_logo"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nintendo 64</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Nintendo 64 (ニンテンドウ64) es la cuarta videoconsola de sobremesa
        producida por Nintendo, desarrollada para suceder a la Super Nintendo.
        Fue la primera consola concebida para dar el salto del 2D al 3D.
        Compitió en el mercado de la quinta generación con Saturn de Sega y
        PlayStation de Sony; esta última, creada a partir de diseños descartados
        previamente por Nintendo.<br /><br />Incorporó en su arquitectura un
        procesador principal de 64 bits. El soporte de almacenamiento de los
        juegos era en forma de cartuchos, la mayoría de ellos con memoria
        interna. El uso de este tipo de almacenamiento le supuso una seria
        desventaja comercial frente a sus competidores, ya que encarecía los
        costes de producción lo que aumentaba el precio final y además era de
        una capacidad de almacenamiento menor al de un CD-ROM.<br /><br />Fue
        descontinuada el 30 de abril de 2002 y sus últimos títulos fueron Tony
        Hawk's Pro Skater 3 en América y Mario Party 3 en Europa y Japón. Fue
        sustituida por Nintendo GameCube el 14 de noviembre de 2001 en América y
        el 4 de mayo de 2002 en Europa.
      </p>
      <ion-img
        src="assets/imagenes/N64-Console-Set.png"
        class="nin_logo"
      ></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>GameCube</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Nintendo GameCube (ニンテンドーゲームキューブ Nintendō GēmuKyūbu)
        también llamada simplemente la GameCube y abreviada como GCN en América
        y NGC en Japón, es la quinta consola descontinuada de sobremesa hecha
        por Nintendo. Fue la sucesora del Nintendo 64 y la predecesora del
        Wii.<br /><br />
        Su principal característica fue su procesador central basado en un IBM
        PowerPC (tecnología previa utilizada en computadoras personales y
        portátiles), y su procesador gráfico desarrollado por ATI Technologies.
        Nintendo, por primera vez, prescindio del cartucho (ROM) como formato de
        almacenamiento, y adoptó un formato óptico propio, el Nintendo Optical
        Disc. El nombre «GameCube» se debió a que el sistema tuvo la forma de un
        cubo. Fue además la primera consola de Nintendo que no contó en su fecha
        de lanzamiento con un juego de Mario, mascota oficial de la compañía.<br /><br />La
        consola fue lanzada el 14 de septiembre de 2001 en Japón, el 18 de
        noviembre de 2001 en Norteamérica, el 3 de mayo de 2002 en Europa y el
        10 de mayo de 2002 en Australia. Fue descontinuada el 4 de noviembre de
        2007 en Japón, el 24 de mayo de 2008 en Europa y el 22 de junio de 2008
        en Norteamérica y el último videojuego fue Madden NFL 08. Según las
        cifras oficiales, el GameCube logró vender 21 740 000 unidades
        mundialmente.
      </p>
      <ion-img src="assets/imagenes/GameCube-Console-Set.png" class="nin_logo"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nintendo Wii</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Nintendo Wii (ニンテンドーウィー Nintendō Uī) es la sexta videoconsola descontinuada
        producida por Nintendo y estrenada el 19 de noviembre de 2006 en Norteamérica y el
        8 de diciembre del mismo año en Europa. Perteneciente a la séptima generación de
        videoconsolas, es la sucesora directa de GameCube y compitió con la Xbox 360
        de Microsoft y la PlayStation 3 de Sony. Nintendo afirmó que Wii está destinada
        a una audiencia más amplia a diferencia de las otras dos consolas.Desde su debut,
        la consola superó a sus competidoras en cuanto a ventas, y, en diciembre de 2009,
        rompió el récord como la consola más vendida en un solo mes en Estados Unidos.<br /><br />

        La característica más distintiva de la consola fue su mando inalámbrico, el Wii Remote,
        el cual se usaba como un dispositivo de mano con el que se podía apuntar, además de que
        detectaba movimientos en un plano tridimensional. Otra de sus peculiaridades era el 
        servicio WiiConnect24, que permitía recibir mensajes y actualizaciones a través de Internet
        en modo de espera. Adicionalmente, la consola puede sincronizarse con la portátil Nintendo DS,
        lo cual permite que Wii aproveche la pantalla táctil de la Nintendo DS como mando alternativo.<br /><br />
        
        Desde su lanzamiento, recibió premios por la innovación de su controlador y la tecnología que
        incorpora en el sistema de juego. Al notar el éxito de Wii a nivel internacional, algunos
        desarrolladores third-party se disculparon con Nintendo por haber lanzado juegos de baja
        calidad y no haber sido optimistas con el sistema en sus orígenes. En el evento E3 de 2006,
        la consola ganó varios premios en distintas categorías. El 25 de abril de 2011 Nintendo anunció
        oficialmente, mediante un comunicado de prensa, el desarrollo de la sucesora de Wii, Wii U, que
        salió a la venta a partir de noviembre de 2012. El 20 de octubre de 2014, fue descontinuada la 
        videoconsola. No obstante, la compañía anunció que la descontinuación sería solo en Japón, 
        mientras que en Norteamérica seguiría fabricándose la videoconsola unos meses más, sin embargo, 
        no fue hasta fines de 2016 cuando comenzó la descontinuación de la videoconsola. 
        Los últimos modelos que quedaban en el mercado (Wii Family Edition y Wii Mini) se terminaron de 
        descontinuar el 14 de noviembre de 2019.<br /><br />
        
        Los últimos juegos lanzados para la consola son Just Dance 2020, lanzado por Ubisoft 
        el 5 de noviembre de 2019; Shakedown: Hawaii (exclusivo para Europa) y Retro City Rampage DX+ 
        (exclusivo para América), ambos lanzados el 9 de julio de 2020. 
      </p>
      <ion-img src="assets/imagenes/NintendoWii-Console-Set.png" class="nin_logo"></ion-img>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Wii U</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Wii U (ウィー・ユー Wī Yū), con nombre clave Project Café, es una consola descontinuada perteneciente
        a la octava generación de videoconsolas, siendo la séptima consola de sobremesa creada por Nintendo 
        y directa sucesora de Wii. La consola fue lanzada el 18 de noviembre de 2012 en terreno norteamericano 
        siendo su fecha de apertura. Se presentó en la conferencia de Nintendo durante el Electronic Entertainment 
        Expo 2011 el 7 de junio de 2011. Competía principalmente con la PlayStation 4 de Sony y la Xbox One de Microsoft.<br /><br /> 

        Wii U es la primera consola de Nintendo en producir gráficos en alta definición hasta una resolución 
        de 1080p. Incluyó un nuevo mando que incorporó una pantalla táctil que recibía señal en calidad 480p 
        de la consola, lo que permitió seguir jugando incluso cuando el televisor estaba apagado. A este nuevo 
        mando se le ha denominado: Wii U GamePad. El sistema era retrocompatible con los juegos de Wii, y soportó 
        los periféricos de Wii, como el Wiimote o la Wii Balance Board e incluyó la tecnología NFC, además de que 
        fue compatible con las figuras y cartas amiibo como accesorio propio (también fue compatibles en la Nintendo 3DS, 
        que modifican la forma de jugar videojuegos). Sin embargo, nunca fue retrocompatible con los periféricos de Nintendo 
        GameCube (a excepción del mando que se conectaba mediante un adaptador) pero tuvo la capacidad de descargar los 
        videojuegos desde la consola virtual.<br /><br />  

        A finales de mayo de 2017, Nintendo cesó la fabricación de la consola Wii U. Los últimos videojuegos publicados 
        para la consola Wii U fueron The Legend of Zelda: Breath of the Wild por parte de desarrolladores de primeros y 
        Just Dance 2019 por desarrolladores de terceros.<br /><br /> 

        De manera sorpresiva, la consola recibió una actualización el día 2 de marzo de 2021, después de más de dos años 
        sin tener novedades.<br /><br /> 

        El firmware actual de la consola es el 5.5.5 / 5.5.6 (en Europa y en USA, respectivamente), donde se han realizado 
        mejoras adicionales a la estabilidad general del sistema y otros ajustes menores para mejorar la experiencia del usuario.
      </p>
      <ion-img src="assets/imagenes/Wii_U-Console-Set.png" class="nin_logo"></ion-img>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Nintendo Switch</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Nintendo Switch (ニンテンドー スイッチ Nintendō Suitchi) es una consola de videojuegos desarrollada por Nintendo. 
        Conocida en el desarrollo por su nombre código «NX», se dio a conocer en octubre de 2016 y fue lanzada mundialmente 
        el 3 de marzo de 2017.<br /><br />  

        La Switch utiliza dos controladores inalámbricos llamados en conjunto Joy-Con, que incluyen cuatro botones de acción 
        estándar y un joystick direccional, así como sensores para la detección de movimiento y retroalimentación táctil de 
        alta definición, aunque se diferencian en algunos botones y características adicionales. Dos Joy-Con pueden conectarse 
        uno a cada lado de la consola para usarse como consola portátil, conectarse al accesorio Grip proporcionado junto a la 
        consola para usarlos como un mando más tradicional o ser utilizados individualmente en la mano como el mando Wii y de 
        esta forma usarse con juegos multijugador locales. También puede utilizar ciertos controles inalámbricos y/o alámbricos 
        que no incluye la consola, adoptado como Pro Controller, que incluyen las mismas características que los mandos 
        tradicionales a excepción de que este incluye detección NFC para Amiibo y vibración HD.<br /><br /> 

        El concepto de la Switch surgió como reacción de Nintendo a varios trimestres de pérdidas financieras en 2014, atribuidas 
        a las malas ventas de su consola anterior, la Wii U, así como una mayor competencia en el mercado de los juegos para 
        dispositivos móviles. Posteriormente, el presidente de Nintendo, Satoru Iwata, incitó a la compañía en la dirección 
        de los juegos móviles y la creación de un hardware totalmente nuevo.<br /><br /> 

        Nintendo vendió más de 2,74 millones de unidades de la consola en su primer mes de estar a la venta, superando la 
        proyección inicial de 2 millones de unidades que hizo la compañía y convirtiéndose en la consola de sobremesa que 
        más rápido se ha vendido de su historia. Las ventas de la Switch estaban muy ligadas a las del videojuego aclamado 
        por la crítica The Legend of Zelda: Breath of the Wild, que se puso a la venta el mismo día que la consola en todo el mundo.<br /><br /> 

        El 20 de septiembre de 2019, se lanzó al mercado una versión revisada de Nintendo Switch, manteniendo el tamaño de 
        la versión "antigua" y con una mayor duración de la batería. Esto gracias a una nueva batería recargable de iones 
        de litio de 13,6 Wh (vatios-hora), mientras que la primera versión era de 16 Wh.
      </p>
      <ion-img src="assets/imagenes/Nintendo_Switch.webp" class="nin_logo"></ion-img>
    </ion-card-content>
  </ion-card>

</ion-content>
