<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> PlayStation </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-img
      src="assets/imagenes/ps-logo-1-1024x538.png"
      class="pslogo"
    ></ion-img>

    <ion-card>
      <ion-card-header>
        <ion-card-title>PlayStation</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          PlayStation (プレイステーション Pureisutēshon, oficialmente abreviada
          como PS o PSone) es la primera videoconsola de sobremesa descontinuada
          producida por Sony Computer Entertainment. Fue lanzado en Japón el 3
          de diciembre de 1994, en América del Norte el 9 de septiembre de 1995,
          en Europa el 29 de septiembre de 1995 y en Australia el 15 de
          noviembre de 1995. Como consola de quinta generación, PlayStation
          compitió principalmente con Nintendo 64 y el Sega Saturn.<br /><br />
          Sony comenzó a desarrollar la PlayStation después de un acuerdo
          fallido con Nintendo para crear un periférico de CD-ROM para Super
          Nintendo Entertainment System a principios de la década de 1990. La
          consola fue diseñada principalmente por Ken Kutaragi y Sony Computer
          Entertainment en Japón, mientras que el desarrollo adicional se
          subcontrató en el Reino Unido. Se puso énfasis en los gráficos de
          polígonos en tercera dimensión al frente del diseño de la consola. La
          producción de juegos de PlayStation fue diseñada para ser optimizada e
          inclusiva, atrayendo el apoyo de muchos desarrolladores externos.<br /><br />
          La consola resultó popular por su extensa biblioteca de juegos,
          franquicias populares, bajo precio minorista y marketing juvenil
          agresivo que la anunciaba como la consola preferible para adolescentes
          y adultos. Las franquicias Premier de PlayStation incluyeron Gran
          Turismo, Wipeout, Crash Bandicoot, Spyro, Tomb Raider, Resident Evil,
          Metal Gear Solid, Tekken, y Final Fantasy, todas las cuales generaron
          numerosas secuelas. Los juegos de PlayStation continuaron vendiéndose
          hasta que Sony cesó la producción de PlayStation y sus juegos el 23 de
          marzo de 2006, más de once años después de su lanzamiento y menos de
          un año antes del debut de PlayStation 3. Se lanzaron un total de 3 061
          juegos de PlayStation, con ventas acumuladas de 967 millones de
          unidades.<br /><br />
          La PlayStation marcó el ascenso de Sony al poder en la industria de
          los videojuegos. Recibió elogios y se vendió con fuerza; en menos de
          una década, se convirtió en la primera plataforma de entretenimiento
          informático en comercializar más de 100 millones de unidades. Su uso
          de discos compactos anunció la transición de la industria de los
          juegos de los cartuchos. El éxito de la PlayStation llevó a una línea
          de sucesores, comenzando con PlayStation 2 en 2000. En el mismo año,
          Sony lanzó un modelo más pequeño y económico, PSOne.
        </p>
        <ion-img
          src="assets/imagenes/PSX-Console-wController.png"
          class="pslogo"
        ></ion-img>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <<ion-card-header>
        <ion-card-title>PlayStation 2</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          PlayStation 2 (en Japonés: プレイステーション2 Pureisutēshon Tsu,
          oficialmente abreviada como PS2) es la segunda videoconsola de
          sobremesa descontinuada producida por Sony Computer Entertainment. Fue
          la tercera consola de Sony en ser diseñada por Ken Kutaragi. Además de
          ser la sucesora de la PlayStation. Fue lanzada por primera vez el 4 de
          marzo del año 2000 en Japón, y unos meses después en el resto del
          mundo.<br /><br />
          Es la videoconsola más vendida de la historia, con más de 155 millones
          de unidades vendidas. Esta consola es también la que más títulos
          posee, aproximadamente 3870 títulos, seguida por su predecesora la
          PlayStation con unos 2500 títulos. Esta cantidad de títulos se debe a
          la extraordinaria acogida por parte del público en general hacia la
          misma, lo que incluso la consolidó como la consola con más tiempo en
          el mercado y a su vez la consola con más duración en el mismo, hasta
          que el 4 de enero del año 2013 se decide detener su fabricación tras
          13 años de actividad. A pesar del anuncio, se continuaron produciendo
          nuevos juegos para la consola hasta finales de 2013, estos fueron FIFA
          14 y Pro Evolution Soccer 2014.
        </p>
        <ion-img src="assets/imagenes/PS2_png.png" class="pslogo"></ion-img>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>PlayStation 3</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          PlayStation 3 (プレイステーション3 Pureisutēshon Surī?, oficialmente
          abreviada como PS3) es la tercera videoconsola de sobremesa
          descontinuada producida por Sony Computer Entertainment. Fue la quinta
          y última consola de Sony en ser diseñada por Ken Kutaragi y formó
          parte de las videoconsolas de séptima generación y sus competidores
          fueron la Xbox 360 de Microsoft y la Wii de Nintendo.<br /><br />
          Sony confirmó, en marzo de 2017, que dejaría de fabricar la consola en
          Japón. En la cual finalmente se dejó de hacer su producción el 29 de
          mayo de 2017, así mismo finalizando su producción únicamente en Japón
          en 2017, en Nueva Zelanda en el 2015, en Estados Unidos en marzo de
          2016 y el resto de Norteamérica en octubre de ese año, pero la
          producción alrededor del mundo sigue presente, exceptuando su servicio
          en línea que igual está presente, a excepción de algunos servidores de
          ciertos títulos que ya cesaron su servicio en línea, unos ejemplos de
          juegos que ya han cesado servicios en la consola serían PES 2015 y más
          recientemente Grand Theft Auto Online.<br /><br />
          El firmware de la consola es el 4.90 lanzado recientemente este 28 de
          febrero del 2023 y el último juego lanzado para esta consola de manera
          oficial fue FIFA 19.
        </p>
        <ion-img
          src="assets/imagenes/PS3versniones.png"
          class="pslogo"
        ></ion-img>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>PlayStation 4</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          PlayStation 4 (プレイステーション4 Pureisutēshon Fō?, oficialmente
          abreviada como PS4) es la cuarta videoconsola de sobremesa producida
          por Sony Computer Entertainment. Fue diseñada por Mark Cerny y forma
          parte de las videoconsolas de octava generación. Fue anunciada
          oficialmente el 20 de febrero de 2013 en el evento PlayStation Meeting
          2013, aunque el diseño de la consola no fue presentado hasta el 10 de
          junio en el E3 2013. Es la sucesora de la PlayStation 3, compite con
          Wii U de Nintendo y Xbox One de Microsoft. Su lanzamiento fue el 15 de
          noviembre de 2013 en Estados Unidos y Canadá, el 29 de noviembre de
          2013 se produjo su lanzamiento en Europa y Sudamérica, mientras que en
          Japón fue el 22 de febrero de 2014.<br /><br />
          El firmware actual de la consola es el 11.02 donde se corrige un fallo
          de CMOS en la consola.
        </p>
        <ion-img
          src="assets/imagenes/PlayStation4modelos.png"
          class="pslogo"
        ></ion-img>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>PlayStation 5</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          PlayStation 5 (プレイステーション 5 Pureisutēshon Faibu, abreviada
          como PS5) es la quinta consola de videojuegos de sobremesa
          desarrollada por la empresa Sony Interactive Entertainment, a la vez
          que es la tercera consola de Sony en ser diseñada por Mark Cerny. Fue
          anunciada en diciembre de 2019 como la sucesora de la PlayStation
          4.<br /><br />
          Se lanzó el 12 de noviembre de 2020 en Australia, Japón, Nueva
          Zelanda, Estados Unidos, Canadá, México y Corea del Sur, y en la
          semana siguiente en el resto del mundo. La PlayStation 5 junto con la
          Xbox Series X|S de Microsoft, lanzada el mismo mes, son parte de la
          novena generación de consolas de videojuegos.<br /><br />
          La plataforma se lanzó en dos variantes: un modelo base con una unidad
          de disco óptico compatible con Ultra HD Blu-ray y una edición digital
          que carece de esta unidad, que sirve como modelo de menor costo para
          quienes prefieren comprar videojuegos mediante descarga digital.
        </p>
        <ion-img
          src="assets/imagenes/PlayStation_5_and_DualSense_with_transparent_background.png"
          class="pslogo"
        ></ion-img>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
</ion-content>
